header {
    background:#0e2a70;
    color: #fafafa;
    text-align: center;
    flex-grow: 0;
    margin-bottom: 2rem;
    padding: 1rem 0 1rem 0;
  }
  
  h1 {
    font-weight: 400;
    padding: 0.4rem 0;
  }